/* CSS Document */

#videoContainer{
	width:100%;
	height:500px;
	overflow:hidden;
}
#videoBg{
	width:100%;
}
#carouselContainer{
	width:100%;
	margin:auto;
	position:absolute;
	top:50px;
	overflow:hidden;
}
#carouselContainer img{
	margin:auto;
}
#carouselContainer button{
	width:300px;
	background:#d87002;
	color:#ffffff;
	border:none;
	font-size:18px;
	font-weight:bold;
}
#maincontent{
	margin-top:30px;
}

.contentVideo{
	height:175px;
	width:60%;
	position:absolute;
	top:10px;
	left:70px;
}
.contentTitle{
	font-size:25px;
	font-weight:bold;
}
.contentPara{
	font-size:18px;
	line-height:30px;;
}
.spacing{
	margin-top:30px;
	margin-bottom:30px;
}
#firstRow{
	padding:20px;
}

#learnVideo{
	height:200px;
	border-radius:10px;
	border:15px solid #333;
	box-shadow:5px 5px 5px #000;	
}

#secondRow{
	padding:20px;
	background:#498e2b;
	color:#fff;
	box-shadow:2px 5px 5px #333;
}
#secondRow h5,p{
	padding:10px 0;
}
.animHolder{
	background:#000;
	color:lime;
	border:10px solid #fff;
	border-radius:10px;
}
.element{
	height:250px;
}
.contentLinks{
	text-decoration:none;
	margin:30px 0;
	padding:10px;
	background:#d87002;
	color:#fff;
	border-radius:5px;
	font-size:16px;
	font-weight:bold;
	box-shadow:2px 2px 5px #333;
}
.contentLinks:hover{
	text-decoration:none;
	background:#393892;
	color:#fff;
}
.contentLinks:visited{
	text-decoration:none;
	color:#fff;
}
/*Animations*/
/* animation for blinking cursor*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


/*Media query to adjust the height of video BG and also button alignment in XS*/

@media (min-width: 300px) and (max-width: 444px){
#videoContainer{
	width:100%;
	height:300px;
	overflow:hidden;
	margin-top:80px;
}
#carouselContainer button{
	width:150px;
	background:#d87002;
	color:#ffffff;
	border:none;
	font-weight:bold;
	position:absolute;
	top:10px;
	left:25px;
	font-size:14px;
}


}
@media (max-width: 400px){
	#learnVideo{
	width: 250px;
	margin:0;
	padding:0;
}
}
@media (min-width: 0px) and (max-width: 299px){
	#videoContainer{
	width:100%;
	height:300px;
	overflow:hidden;
	margin-top:80px;
}
#carouselContainer button{
	width:140px;
	background:#d87002;
	color:#ffffff;
	font-size:14px;
	border:none;
	font-weight:bold;
	position:absolute;
	top:25px;
	left:25px;
}
}

@media (min-width:795px) and (max-width:825px){
	#heroSection{
		height:470px;
	}
	#carouselContainer{
		height:390px;
	}
	.contentPara{
		font-size:16px;
		line-height:30px;
	}
}
@media (min-width:695px) and (max-width:795px){
	#heroSection{
		height:400px;
	}
	#videoContainer{
		height:400px;
	}
	#carouselContainer{
		height:340px;
	}
	#carouselContainer img{
		height:350px;
		width:100%;
	}
	.contentPara{
		font-size:16px;
		line-height:30px;
	}
	
}
@media (min-width:443px) and (max-width:692px){
	#heroSection{
		height:300px;
	}
	#videoContainer{
		height:300px;
	}
	#videoBg{
		height:340px;
	}
	#carouselContainer{
		height:235px;
	}
	#carouselContainer img{
		height:265px;
		width:100%;
	}
	.contentPara{
		font-size:16px;
		line-height:20px;
	}
}
@media (min-width:301px) and (max-width:443px){
	#heroSection{
		height:300px;
	}
	#videoContainer{
		height:300px;
		margin-top:0;
	}
	#videoBg{
		height:300px;
	}
	#carouselContainer{
		height:200px;
	}
	.contentTitle{
		font-size:19px;
	}
	.contentPara{
		font-size:14px;
		line-height:15px;
	}	
	.element{
		height:auto;
	}
}
@media (min-width:200px) and (max-width:340px){
	#heroSection{
		height:200px;
	}
	#videoContainer{
		height:250px;
		margin-top:0;
	}
	#videoBg{
		height:250px;
	}
	#carouselContainer{
		height:158px;
	}
	.contentTitle{
		font-size:18px;
	}
	.contentPara{
		font-size:14px;
		line-height:15px;
	}
}